* {
    margin: 0;
    padding: 0;
    /*text-align: center;*/
}

.scrollable {
    width: calc(90% - 5px);
    height: calc(100vh - 300px);
    ;
    overflow: auto;
    border: 1px solid black;
    padding: 10px;
}

canvas {
    box-shadow: 0px 0px 0px 1px gray;
}

#fpsCounter {
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: yellow;
    padding: 5px 10px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    border-radius: 5px;
}

#fanc {
    width: 350px;
}